/**
 * http://applemusic.tumblr.com/
 */

/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: normal;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: bold;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2");
}

* {
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
}

html {
  margin: 50px 200px;
  font-family: "San Francisco" !important;
  font-size: 16px;
}

header, section {
  text-align: center;
}

a {
  &:focus {
    outline: none;
  }
  &:link {
    color: inherit;
  }
  &:visited {
    color: inherit;
  }
  &:active {
    color: inherit;
  }
  &:hover {
    opacity: 0.5;
  };
}

.share-button {
  display: inline-block;
  border: 1px solid #000000;
  text-align: center;
  width: 75px;
  margin: 10px;
  cursor: pointer;
}

.fb {
  background-color: #3b5998;
}
.tw {
  background-color: #55acee;
}
.li {
  background-color: #0077b5;
}
.gp {
  background-color: #EC3F43;
}

.fa {
  color: #ffffff;
  font-size: 1.5rem !important;
}
