/**
 * http://applemusic.tumblr.com/
 */
/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2"); }

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2"); }

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: normal;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2"); }

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2"); }

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: bold;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2"); }

* {
  margin: 0;
  padding: 8px;
  box-sizing: border-box; }

html {
  margin: 50px 200px;
  font-family: "San Francisco" !important;
  font-size: 16px; }

header, section {
  text-align: center; }

a:focus {
  outline: none; }

a:link {
  color: inherit; }

a:visited {
  color: inherit; }

a:active {
  color: inherit; }

a:hover {
  opacity: 0.5; }

.share-button {
  display: inline-block;
  border: 1px solid #000000;
  text-align: center;
  width: 75px;
  margin: 10px;
  cursor: pointer; }

.fb {
  background-color: #3b5998; }

.tw {
  background-color: #55acee; }

.li {
  background-color: #0077b5; }

.fa-facebook, .fa-twitter, .fa-linkedin {
  color: #ffffff;
  font-size: 1.5rem !important; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7O0dBRUc7QUFFSCxrQkFBa0I7QUFDbEI7RUFDRSw2QkFBNkI7RUFDN0IsaUJBQWlCO0VBQ2pCLCtIQUFRLEVBQUE7O0FBR1YsV0FBVztBQUNYO0VBQ0UsNkJBQTZCO0VBQzdCLGlCQUFpQjtFQUNqQix5SEFBUSxFQUFBOztBQUdWLGFBQWE7QUFDYjtFQUNFLDZCQUE2QjtFQUM3QixvQkFBb0I7RUFDcEIsMkhBQVEsRUFBQTs7QUFHVixnQkFBZ0I7QUFDaEI7RUFDRSw2QkFBNkI7RUFDN0IsaUJBQWlCO0VBQ2pCLDZIQUFRLEVBQUE7O0FBR1YsV0FBVztBQUNYO0VBQ0UsNkJBQTZCO0VBQzdCLGtCQUFrQjtFQUNsQix5SEFBUSxFQUFBOztBQUdWO0VBQ0UsVUFBVTtFQUNWLGFBQWE7RUFDYix1QkFBdUIsRUFDeEI7O0FBRUQ7RUFDRSxtQkFBbUI7RUFDbkIsd0NBQXdDO0VBQ3hDLGdCQUFnQixFQUNqQjs7QUFFRDtFQUNFLG1CQUFtQixFQUNwQjs7QUFFRDtFQUVJLGNBQWMsRUFDZjs7QUFISDtFQUtJLGVBQWUsRUFDaEI7O0FBTkg7RUFRSSxlQUFlLEVBQ2hCOztBQVRIO0VBV0ksZUFBZSxFQUNoQjs7QUFaSDtFQWNJLGFBQWEsRUFDZDs7QUFHSDtFQUNFLHNCQUFzQjtFQUN0QiwwQkFBMEI7RUFDMUIsbUJBQW1CO0VBQ25CLFlBQVk7RUFDWixhQUFhO0VBQ2IsZ0JBQWdCLEVBQ2pCOztBQUVEO0VBQ0UsMEJBQTBCLEVBQzNCOztBQUNEO0VBQ0UsMEJBQTBCLEVBQzNCOztBQUNEO0VBQ0UsMEJBQTBCLEVBQzNCOztBQUVEO0VBQ0UsZUFBZTtFQUNmLDZCQUE2QixFQUM5QiIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIvKipcbiAqIGh0dHA6Ly9hcHBsZW11c2ljLnR1bWJsci5jb20vXG4gKi9cblxuLyoqIFVsdHJhIExpZ2h0ICovXG5AZm9udC1mYWNlIHtcbiAgZm9udC1mYW1pbHk6IFwiU2FuIEZyYW5jaXNjb1wiO1xuICBmb250LXdlaWdodDogMTAwO1xuICBzcmM6IHVybChcImh0dHBzOi8vYXBwbGVzb2NpYWwuczMuYW1hem9uYXdzLmNvbS9hc3NldHMvc3R5bGVzL2ZvbnRzL3NhbmZyYW5jaXNjby9zYW5mcmFuY2lzY29kaXNwbGF5LXVsdHJhbGlnaHQtd2ViZm9udC53b2ZmMlwiKTtcbn1cblxuLyoqIFRoaW4gKi9cbkBmb250LWZhY2Uge1xuICBmb250LWZhbWlseTogXCJTYW4gRnJhbmNpc2NvXCI7XG4gIGZvbnQtd2VpZ2h0OiAyMDA7XG4gIHNyYzogdXJsKFwiaHR0cHM6Ly9hcHBsZXNvY2lhbC5zMy5hbWF6b25hd3MuY29tL2Fzc2V0cy9zdHlsZXMvZm9udHMvc2FuZnJhbmNpc2NvL3NhbmZyYW5jaXNjb2Rpc3BsYXktdGhpbi13ZWJmb250LndvZmYyXCIpO1xufVxuXG4vKiogTWVkaXVtICovXG5AZm9udC1mYWNlIHtcbiAgZm9udC1mYW1pbHk6IFwiU2FuIEZyYW5jaXNjb1wiO1xuICBmb250LXdlaWdodDogbm9ybWFsO1xuICBzcmM6IHVybChcImh0dHBzOi8vYXBwbGVzb2NpYWwuczMuYW1hem9uYXdzLmNvbS9hc3NldHMvc3R5bGVzL2ZvbnRzL3NhbmZyYW5jaXNjby9zYW5mcmFuY2lzY29kaXNwbGF5LW1lZGl1bS13ZWJmb250LndvZmYyXCIpO1xufVxuXG4vKiogU2VtaSBCb2xkICovXG5AZm9udC1mYWNlIHtcbiAgZm9udC1mYW1pbHk6IFwiU2FuIEZyYW5jaXNjb1wiO1xuICBmb250LXdlaWdodDogNTAwO1xuICBzcmM6IHVybChcImh0dHBzOi8vYXBwbGVzb2NpYWwuczMuYW1hem9uYXdzLmNvbS9hc3NldHMvc3R5bGVzL2ZvbnRzL3NhbmZyYW5jaXNjby9zYW5mcmFuY2lzY29kaXNwbGF5LXNlbWlib2xkLXdlYmZvbnQud29mZjJcIik7XG59XG5cbi8qKiBCb2xkICovIFxuQGZvbnQtZmFjZSB7XG4gIGZvbnQtZmFtaWx5OiBcIlNhbiBGcmFuY2lzY29cIjtcbiAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gIHNyYzogdXJsKFwiaHR0cHM6Ly9hcHBsZXNvY2lhbC5zMy5hbWF6b25hd3MuY29tL2Fzc2V0cy9zdHlsZXMvZm9udHMvc2FuZnJhbmNpc2NvL3NhbmZyYW5jaXNjb2Rpc3BsYXktYm9sZC13ZWJmb250LndvZmYyXCIpO1xufVxuXG4qIHtcbiAgbWFyZ2luOiAwO1xuICBwYWRkaW5nOiA4cHg7XG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG59XG5cbmh0bWwge1xuICBtYXJnaW46IDUwcHggMjAwcHg7XG4gIGZvbnQtZmFtaWx5OiBcIlNhbiBGcmFuY2lzY29cIiAhaW1wb3J0YW50O1xuICBmb250LXNpemU6IDE2cHg7XG59XG5cbmhlYWRlciwgc2VjdGlvbiB7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbn1cblxuYSB7XG4gICY6Zm9jdXMge1xuICAgIG91dGxpbmU6IG5vbmU7XG4gIH1cbiAgJjpsaW5rIHtcbiAgICBjb2xvcjogaW5oZXJpdDtcbiAgfVxuICAmOnZpc2l0ZWQge1xuICAgIGNvbG9yOiBpbmhlcml0O1xuICB9XG4gICY6YWN0aXZlIHtcbiAgICBjb2xvcjogaW5oZXJpdDtcbiAgfVxuICAmOmhvdmVyIHtcbiAgICBvcGFjaXR5OiAwLjU7XG4gIH07XG59XG5cbi5zaGFyZS1idXR0b24ge1xuICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gIGJvcmRlcjogMXB4IHNvbGlkICMwMDAwMDA7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgd2lkdGg6IDc1cHg7XG4gIG1hcmdpbjogMTBweDtcbiAgY3Vyc29yOiBwb2ludGVyO1xufVxuXG4uZmIge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjM2I1OTk4O1xufVxuLnR3IHtcbiAgYmFja2dyb3VuZC1jb2xvcjogIzU1YWNlZTtcbn1cbi5saSB7XG4gIGJhY2tncm91bmQtY29sb3I6ICMwMDc3YjU7XG59XG5cbi5mYS1mYWNlYm9vaywgLmZhLXR3aXR0ZXIsIC5mYS1saW5rZWRpbiB7XG4gIGNvbG9yOiAjZmZmZmZmO1xuICBmb250LXNpemU6IDEuNXJlbSAhaW1wb3J0YW50O1xufVxuIl0sInNvdXJjZVJvb3QiOiIvc291cmNlLyJ9 */
